extend ../layout/default

block body

  h2.mb-3 List Transactions
  if (messengers)
    each messenger in messengers
      .alert.alert-success
        strong= messenger

  if (!transactions)
    p.text-secondary You have no transaction
  else
    ul.list-group.mb-5
      each transaction in transactions
        if (isAdmin === true)
          li.list-group-item.d-flex(class=`${transaction.isCompleted === true ? 'text-muted': ''}`)
            p.flex-grow-1
              strong= transaction.bookTitle
              |
              | - 
              strong.text-info= transaction.userEmail
            a.mr-3(href=`transactions/${transaction.id}/remove`) Remove
            if (transaction.isCompleted === false)
              a(href=`transactions/${transaction.id}/complete`) Complete
            else 
              a(href=`transactions/${transaction.id}/complete`) Uncomplete
        else
          if (transaction.userEmail === curentUserEmail)
            li.list-group-item.d-flex(class=`${transaction.isCompleted === true ? 'text-muted': ''}`)
              p.flex-grow-1
                strong= transaction.bookTitle
                |
                | - 
                strong.text-info= transaction.userEmail

  //- h2.mb-3 Create a new transaction
  //- form(method='POST' action='transactions/create')
  //-   .form-group
  //-     label Select a book
  //-     select.form-control(name='bookTitle')
  //-       each book in books
  //-         option(value=book.title)= book.title
  //-   .form-group
  //-     label Select an user
  //-     select.form-control(name='userEmail')
  //-       if (isAdmin)
  //-         each user in users
  //-           option(value=user.email)= user.email
  //-       else
  //-         option(value=curentUserEmail)= curentUserEmail
  //-   .form-group.text-right
  //-     button.btn.btn-primary Create