extend ../layout/default

block body

  h2.mb-3 List Transactions
  ul.list-group.mb-5
    each transaction in transactions
      li.list-group-item.d-flex(class=`${transaction.isCompleted === true ? 'text-muted': ''}`)
        p.flex-grow-1
          span= transaction.bookTitle
          |
          | - 
          span= transaction.userName
        a.mr-3.btn-edit(href=`transactions/${transaction.id}/edit`) Edit
        a.mr-3(href=`transactions/${transaction.id}/remove`) Remove
        if (transaction.isCompleted === false)
          a(href=`transactions/${transaction.id}/complete`) Complete
        else 
          a(href=`transactions/${transaction.id}/complete`) Uncomplete

  h2.mb-3 Create a new transaction
  form(method='POST' action='transactions/create')
    .form-group
      label Select a book
      select.form-control(name='bookTitle')
        each book in books
          option(value=book.title)= book.title
    .form-group
      label Select an user
      select.form-control(name='userName')
        each user in users
          option(value=user.name)= user.name
    .form-group.text-right
      button.btn.btn-primary Create